@import '~bootstrap/scss/bootstrap';

button {
  appearance: none;
  border: none;
  outline: none;
  color: inherit;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}


/* #region -- ⛔ ADMIN LAYOUT -- */

.accent_color {
  color: #ef3b2d;
}

.accent_box_shadow {
  box-shadow: 0px 0px 150px -50px #ef3b2d;
}

.accent_box_shadow {
  box-shadow: 0px 0px 150px -50px #ef3b2d;
}

.accent_border {
  border: 1px solid #ef3b2d;
}

.bg_dark_transparent {
  background-color: #260906e6;
}

body.admin_style {
  color: #fbdfde;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI5MDAiIHZpZXdCb3g9IjAgMCAxNjAwIDkwMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0gMTAwMCAwIEMgMTA1MCAyMDAsIDEyMDAgMzUwLCAxMzUwIDQ1MCBDIDE1MDAgNTUwLCAxNjAwIDUwMCwgMTYwMCA1MDAgViAwIEggMTAwMCBaIiBmaWxsPSIjZWYzYjJkIiAvPgogICAgPHBhdGggZD0iTSAwIDQ1MCBDIDE1MCA1MDAsIDI1MCA2NTAsIDM1MCA3NTAgQyA0NTAgODUwLCA1NTAgOTAwLCA1NTAgOTAwIEggMCBWIDQ1MCBaIiBmaWxsPSIjZWYzYjJkIiAvPgo8L3N2Zz4=');
  background-color: #260906;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
}

.admin_header {
  margin-bottom: 2rem;
}

.admin_navbar {
  color: #ef3b2d;

  a#navbarDropdown {
    color: #260906;
    background-color: #ef3b2d;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px double #260906;
    border-radius: 15px 20px 25px 20px / 20px 30px 15px 35px;
    margin-bottom: 0.25rem;
  }

  a#navbarDropdown.show {
    border: none;
  }

  .dropdown_menu {
    background-color: #260906e6;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 0.5rem;

    i {
      padding-right: 0.5rem;
    }
  }

  .dropdown-menu.show {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 0.25px solid #ef3b2d;
  }

  button.navbar-toggler:focus {
    box-shadow: none;
    // background-color: #260906e6; 
  }

  button.navbar-toggler {

    color: #260906;
    font-weight: 600;
    background-color: #ef3b2d;
    padding: 0.5rem;
    border: 3px dashed #260906;
    border-radius: 15px 20px 25px 20px / 20px 30px 15px 35px;

  }

  h1 {
    color: #ef3b2d;

    padding-top: 0.5rem;
    margin-left: 0.15rem;
    margin-bottom: 0;
  }

  a.nav-link {
    color: #fbdfde;
  }


  .dropdown {
    padding: 0.5rem;
  }

  a.user_menu,
  .dropdown_header {
    color: #ef3b2d;
    text-decoration: none;
    font-weight: 600;
    padding: 0.75rem;
  }

  .dropdown_header {
    white-space: nowrap;
  }

  .dropdown_header:hover {
    background-color: none;
  }

  a.dropdown-item {
    padding: 0.5rem;
    white-space: nowrap;
  }

  a.dropdown-item:hover {
    color: #260906;
    background-color: #ef3b2d;
    padding: 0.5rem;
    border-radius: 15px 20px 25px 20px / 20px 30px 15px 35px;
  }

}

.admin_main {
  flex-grow: 1;
}

.admin_footer {
  color: #ef3b2d;
  background-color: #260906e6;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  margin-top: 2rem;

  .container {
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: bottom;

    nav {

      ul {
        list-style: none;
        font-size: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding: 0;
      }

      li {
        margin: 0.25rem 0.75rem;
      }

      a {
        color: #fbdfde;
        text-decoration: none;
      }

    }
  }
}

/* #endregion */

/* #region -- ⛔✨ ADMIN PROJECTS TABLE -- */

.table_wrapper {
  container-type: inline-size;
  container-name: projects_table;
}

.table.projects_table {
  color: #fbdfde;
  border-radius: 10px;
  box-shadow: 0px 0px 150px -50px #ef3b2d;
  margin: 2.5rem 0;

  tr td:first-child {
    font-size: 1.25rem;
    font-weight: 600;
  }

  th {
    color: #ef3b2d;
    font-size: 1.25rem;
    font-weight: 500;

    div {
      padding: 0 0.5rem;
    }
  }

  td {
    color: #fbdfde;
    background-color: #260906;

    div {
      padding: 0 0.5rem;
    }
  }

  thead th,
  tr:nth-child(even) td {

    background-color: #1c0705;

  }

  tr {

    th:first-child {
      border-radius: 10px 0 0 0;
    }

    th:last-child {
      border-radius: 0 10px 0 0;
    }
  }

  tr:last-child {

    td:first-child {
      border-radius: 0 0 0 10px;
    }

    td:last-child {
      border-radius: 0 0 10px 0;
    }
  }

  tr th:first-child,
  tr td:first-child {
    white-space: nowrap;
  }

  i {
    font-size: 1.5rem;
  }

  button {
    // appearance: none;
    // border: none;
    // outline: none;
    color: #fbdfde;
    background-color: transparent;
    // cursor: pointer;

    .bi-arrow-up-right-circle:hover {
      color: green;
      font-weight: 600;
    }

    .bi-pencil-square:hover {
      color: goldenrod;
      font-weight: 600;
    }

    .bi-trash3-fill:hover {
      color: red;
      font-weight: 600;
    }

  }
}

/* #region MEDIA QUERIES */

/* fino a 576px */
@container projects_table (max-width: 576px) {

  /* hide PERIOD */
  tr th:nth-child(3),
  tr td:nth-child(3) {
    display: none;
  }

}

/* fino a 765px */
@container projects_table (max-width: 765px) {

  /* hide CLIENT */
  tr th:nth-child(2),
  tr td:nth-child(2) {
    display: none;
  }

}

/* da 765px */
@container projects_table (min-width: 765px) {

  /* don't wrap PERIOD */
  tr th:nth-child(3),
  tr td:nth-child(3) {
    white-space: nowrap;
  }

}

/* #endregion */


/* #endregion */