@import '~bootstrap/scss/bootstrap';

/* _ ADMIN _ */

body.admin_style {
  color: #fbdfde;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI5MDAiIHZpZXdCb3g9IjAgMCAxNjAwIDkwMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0gMTAwMCAwIEMgMTA1MCAyMDAsIDEyMDAgMzUwLCAxMzUwIDQ1MCBDIDE1MDAgNTUwLCAxNjAwIDUwMCwgMTYwMCA1MDAgViAwIEggMTAwMCBaIiBmaWxsPSIjZWYzYjJkIiAvPgogICAgPHBhdGggZD0iTSAwIDQ1MCBDIDE1MCA1MDAsIDI1MCA2NTAsIDM1MCA3NTAgQyA0NTAgODUwLCA1NTAgOTAwLCA1NTAgOTAwIEggMCBWIDQ1MCBaIiBmaWxsPSIjZWYzYjJkIiAvPgo8L3N2Zz4=');
  background-color: #260906;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  margin-bottom: 2rem;
}

.admin_navbar {
  color: #ef3b2d;

  a#navbarDropdown {
    color: #ef3b2d;
    background-color: #260906e6;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.25px solid #ef3b2d;
    border-radius: 15px 20px 25px 20px / 20px 30px 15px 35px;
    margin-bottom: 0.25rem;
  }

  a#navbarDropdown.show {
    border: none;
  }

  .dropdown_menu {
    background-color: #260906e6;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 0.5rem;
  }

  .dropdown-menu.show {
    padding-top: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 0.25px solid #ef3b2d;
  }

  button.navbar-toggler:focus {
    box-shadow: none;
    // background-color: #260906e6; 
  }

  button.navbar-toggler {

    color: #ef3b2d;
    background-color: #260906e6;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 0.5rem;
    border: 0.5px solid #ef3b2d;
    border-radius: 15px 20px 25px 20px / 20px 30px 15px 35px;

  }

  h1 {
    color: #ef3b2d;

    padding-top: 0.5rem;
    margin-left: 0.15rem;
    margin-bottom: 0;
  }

  a.nav-link {
    color: #fbdfde;
  }


  .dropdown {
    padding: 0.5rem;
  }

  a.user_menu,
  .dropdown_header {
    color: #ef3b2d;
    text-decoration: none;
    font-weight: 600;
    padding: 0.75rem;
  }

  .dropdown_header:hover {
    background-color: none;
  }

  a.dropdown-item {
    padding: 0.5rem;
    text-wrap: none;
  }

  a.dropdown-item:hover {
    color: #260906;
    background-color: #ef3b2d;
    padding: 0.5rem;
    border-radius: 15px 20px 25px 20px / 20px 30px 15px 35px;
  }

}